.NavButtons{
    display: flex;
    align-items: center;
    justify-content: end;
}

.name {
    display: flex;
    align-items: start;
}

.ProfileButton {
    width: 8vh;
    height: 5vh;
    background-color: blueviolet;
    border: 0px;
    margin: 10px;
    border-radius: 15%;
}

.ProjectButton {
    width: 8vh;
    height: 5vh;
    background-color: brown;
    border: 0px;
    margin: 10px;
    border-radius: 15%;
}

.CvButton {
    width: 8vh;
    height: 5vh;
    background-color: aqua;
    border: 0px;
    margin: 10px;
    border-radius: 15%;
}