.ProjectsAll {
    display: flex;
    flex-direction: row;
}

.ProjectImage{
    width: 40vh;
    height: 70vh;
    margin-right: 5vh;
}

.EachProject {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10vh;
    margin-right: 10vh;
}

.DataTexts {
    display: flex;
    margin: 5vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.AllProjects {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.ProjectsText {
    font-size: 2vh;
}

.GithubLink {
    font-size: 2vh;
}